.welcome--container{
    position: '';
    width:100%;
    height:auto;
    display:flex;
    align-items:center;
    padding-left: 0px;
    padding-right: 0px;
}


.background--image--1{
       z-index:-1;
       width:100%;
       aspect-ratio: 2.5;
       --webkit-filter:blur(7px);
       filter:brightness(70%);
       margin:0;
    
}

  
.welcome--message{
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 width:100%;
 height:500px;
 position:absolute;
 height:500px;
 margin:0;
 animation: text  6008ms infinite ;
}

@keyframes 
           text{
        0%{
            opacity:1;
            transform: translateX(100px)
            
        }
        
    
        100%{
            opacity:1;
            transform: translateX(0px)      
        }
    }

.upper--text{
    color:#fff;
    font-family:'';
    font-size:24px;
    font-style:italic;
    font-weight:500;
    margin:0;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

.underline{
    background-color:rgb(255,0,0);
    width:110px;
    height:5px;
    margin-top :20px;
    margin-bottom :20px;
    border-radius:2px
}
.lower--text{
    color:#fff;
    font-family:'';
    font-size:42px;
    font-style:'';
    font-weight:900;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.heart{
    width:100px;
    animation:pulse 3s  infinite  alternate 
}

  @keyframes pulse {
    0% {
        height:0px
    }
    100%{
        height:120px;
    }
  }