*{
    margin:0;
    
}

.strength--container{
    
    position:'';
    width:100%;
    height: auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 20px;
    padding-bottom: 20px;
}

.background--image--strength {
    position:absolute;
    width:100%;
    height: auto;
    filter: brightness(40%);
    opacity:0.2;
    margin:0;
    z-index: -1;
}
